[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-erlang-compiler"]
	path = bundle/vim-erlang-compiler
	url = git://github.com/vim-erlang/vim-erlang-compiler.git
