[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-erlang-compiler"]
	path = bundle/vim-erlang-compiler
	url = git://github.com/vim-erlang/vim-erlang-compiler.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = git://github.com/elixir-lang/vim-elixir.git
