[submodule "bundle/commentary"]
	path = bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/dispatch"]
	path = bundle/dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/visual_studio"]
	path = bundle/visual_studio
	url = https://github.com/vim-scripts/visual_studio.vim.git
